h2
{
  background-color: powderblue;
  font-family: cursive;
}

body
{
  background-color: white;
  background-image: url(landscapeMaine.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#first
{
  border: 20px;
  border-color: black;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: white;

}

.luck
{
  width: 100px;
  border: 5px;
  background-color: #66ff00;
  border-radius: 15px;

}


.simon
{
  border-radius: 25px;
  margin: auto;
  padding: 60px 200px;
}

.green
{
  padding: 40px 40px;
  background-color: green;
  text-decoration-color: white;
}
.yellow{
  padding: 40px 40px;
  background-color: #D1D54E;
  text-decoration-color: white;
  height = 50px;
}
.red{
  padding: 40px 40px;
  background-color: #A10A0A;
  text-decoration-color: white;
}
.blue{
  padding: 40px 40px;
  background-color: #3454C1;
  text-decoration-color: white;
}

.displayPageElement{
  margin: auto;
}

.litGreen
{
  background-color: #66ff00;
}
.litYellow
{
  background-color: #F7FF00;
}
.litRed
{
  background-color: #FF160C;
}
.litBlue
{
  background-color: #0096FF;
}

.unclickable
{
  pointer-events: none;
}
.hidden {
  display: none !important;
}

#canvas {
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  margin: 0px auto;
}
