h2
{
  background-color: pink;
  font-family: cursive;
}

body
{
  background-color: blue;
  background-image: url(landscapeMaine.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#first
{
  border: 15px;
  padding: 50px 50px;
  margin-left: auto;
  margin-right: 500px;
  border-radius: 25px;
  background-color: white;
}

.luck
{
  width: 100px;
  border: 5px;
  border-radius: 15px;

}


.simon
{
  border-radius: 25px;
  margin: auto;
  padding: 60px 200px;
}

.green
{
  padding: 40px 40px;
  background-color: green;
  text-decoration-color: white;
}
.yellow{
  padding: 40px 40px;
  background-color: #D1D54E;
  text-decoration-color: white;
  height = 50px;
}
.red{
  padding: 40px 40px;
  background-color: #A10A0A;
  text-decoration-color: white;
}
.blue{
  padding: 40px 40px;
  background-color: #3454C1;
  text-decoration-color: white;
}

.litGreen
{
  background-color: #66ff00;
}
.litYellow
{
  background-color: #F7FF00;
}
.litRed
{
  background-color: #FF160C;
}
.litBlue
{
  background-color: #0096FF;
}

.unclickable
{
  pointer-events: none;
}
.hidden {
  display: none !important;
}
)
